@model IEnumerable<Advertisement> 

@foreach(var adv in Model.GroupBy(n => n.Name)) { 
    <li>@adv.Key
        <ul>
            @foreach (var nm in adv) 
            {
            <li>@nm.Name</li>
            }
        </ul>
    </li>
}