@model IEnumerable<Advertisement>

@foreach (var adv in Model.GroupBy(n => n.Name))
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> @adv.Key</h5>
            @foreach (var nm in adv)
            {
                <p class="card-text">@nm.Description. @nm.NumberOfSubscribers @nm.Price</p>
                <partial name="_ApplyPartial" />
            }
        </div>
    </div>
}
