@model IEnumerable<Advertisement>

@foreach (var adv in Model.GroupBy(n => n.Name))
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> @adv.Key</h5>
       @foreach (var nm in adv)
        {
          <p class="card-text">@nm.Description.</p>
          <a href="/Home/Apply?ad=@nm" class="btn btn-primary">Apply</a>
        }
        </div>
    </div>
}
